body
  font-family: 'Montserrat', sans-serif
  font-display: swap
.container
  max-width: 1200px
  margin: 0 auto
.second-title
  text-transform: uppercase
  font-size: 41px
  font-weight: 500
  text-align: center
  color: #ffffff
  margin: 0
.title
  &_uppercase
    text-transform: uppercase
.screen
  &__title
    position: relative
    margin: 0
    padding: 40px 0
    text-transform: lowercase
    font-weight: 500
    &::after,
    &::before
      content: ''
      position: absolute
      left: 0
      height: 2px
      width: 100%
      background-color: #fff
    &::after
      top: 0
    &::before
      bottom: 0
    &_upercase
      text-transform: uppercase
.section
  height: 100vh
  &__screen
    display: flex
    align-items: center
.fixed
  position: fixed
  top: 0
  z-index: -1

@media screen and (max-width: 1200px)
  .container
    max-width: 768px
    padding: 0 15px

@media screen and (max-width: 768px)
  .container
    max-width: 425px

@media screen and (max-width: 429px)
  .container
    max-width: 100%