.footer
  background: #000
  padding-bottom: 30px
  margin-top: auto
  &-item
    color: #ffffff
    font-size: 23px
  &__item
    margin: 0
    &:not(:first-child):not(:last-child)
      text-align: center
  &-list
    display: flex
    justify-content: space-between
  &__phone
    display: block

@media screen and (max-width: 1200px)
  .footer
    &-item
      font-size: 20px
      width: 223px
@media screen and (max-width: 768px)
  .footer
    &-list
      flex-wrap: wrap
      justify-content: center
    &-item
      font-size: 19px
      width: 50%
    &__item
      margin-bottom: 50px
    &-mail,
    &-phone
      font-size: 19px
@media screen and (max-width: 768px)
  .footer
    padding-bottom: 10px
    &-list
      justify-content: center
      align-items: center
    &-item
      font-size: 12px
      text-align: center
    &__item
      margin-bottom: 20px
      &:last-of-type
        margin-bottom: 0
    &-mail,
    &-phone
      font-size: 12px