.headline
  text-align: center
  font-size: 118px
  text-transform: uppercase
  line-height: 1
  color: #ffffff
.underhead
  display: block
  text-align: center
  font-size: 75px
  text-transform: uppercase
  line-height: 77px
  letter-spacing: 5pt
  color: #ffffff
  font-weight: 300
.logo
  &__video
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    overflow: hidden

    background: url(../screen/screen1.png) no-repeat #8E9ECA
    background-size: cover
    video 
      position: absolute
      top: 0
      left: 0
      min-width: 100
      min-height: 100
      width: auto
      height: auto
  &__section
    display: flex
    align-items: center
    background: #000
  &__headline
    margin: 0
  &__container
    z-index: 1

@media screen and (max-width: 1200px)
  .headline
    font-size: 100px
  .underhead
    font-size: 45px
    line-height: 1
  .logo

@media screen and (max-width: 768px)
  .headline
    font-size: 55px
  .underhead
    font-size: 20px

@media screen and (max-width: 425px)
  .headline
    font-size: 40px
  .underhead
    font-size: 12px
//  @supports (object-fit: cover) 
//      #video-bg > video 
//          top: 0
//          left: 0
//          width: 100%
//          height: 100%
//          object-fit: cover
     
 